@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primaryBackground: #212222;
  --secondaryBackground: #2f3030;
  --primaryColor: #e0a80d;
  --greyDark: #7d8792;
  --headingColor: #2d2e2e;
  --white: #fff;
  --black: #000;
  --sliver: #bac8d3;
}
body {
  background-color: var(--headingColor);
  color: var(--white);
  font-family: "Poppins", sans-serif;
}
a {
  color: var(--greyDark);
  text-decoration: none;
  transition: 0.5s;
}
a:hover {
  color: var(--primaryColor);
}
p {
  color: var(--sliver);
  font-size: 15px;
  line-height: 30px;
  margin: 20px 0;
}
.container {
  max-width: 80%;
  margin: auto;
}
.flexsb {
  display: flex;
  justify-content: space-between;
}
button {
  border: none;
  outline: none;
  background: none;
  font-size: 17px;
  background-color: var(--primaryColor);
  color: var(--white);
  padding: 15px 50px;
  border-radius: 50px;
  margin-top: 20px;
  cursor: pointer;
}
.heroContent .fontSize {
  font-size: 20px;
}
.primaryBtn {
  background: none;
  border: 2px solid var(--primaryColor);
}
/*---------header-------------*/
header {
  background-color: var(--headingColor);
  height: 10vh;
  line-height: 10vh;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

}
header a {
  margin-left: 40px;
}
.toggle {
  cursor: pointer;
  color: var(--white);
  display: none;
}
@media screen and (max-width: 768px) {
  header .nav {
    display: none;
    transition: 0.3s;
    
  }
  header a {
    width: 100%;
    display: block;
    color: var(--white);
  }
  .toggle {
    display: block;
    font-size: 25px;
    background: none;
    
  }
  .hideMenu {
    max-width: auto;
    display: block;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    background-color: var(--headingColor);
    
    
  }
}
/*---------header-------------*/
section {
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.flex {
  display: flex;
}

/*---------hero-------------*/
.hero {
  position: relative;
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./components/data/images/home-bg.png");
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  width: 100%;
  height: 90vh;
}
.heroContent {
  max-width: 50%;
  margin: auto;
  text-align: center;
}
.hero h3 {
  font-size: 40px;
  font-weight: 600;
  color: var(--primaryColor);
}
.heroContent h1{
  font-size: 60px;
}

/*---------hero-------------*/
.heading {
  font-size: 50px;
  color: var(--primaryColor);
  font-weight: 600;
  text-align: center;
  margin-bottom: 60px;
}

/*---------about-------------*/
.about .primaryBtn {
  margin-left: 20px;
}
.about .heading {
  text-align: left;
  margin: 0;
}
.left {
  width: 35%;
}
.left img {
  width: 75%;
  height: 100%;
}
.right {
  width: 65%;
}
@media screen and (max-width: 768px) {
  .about .left{
    width: 100%;
    align-items: center;
    text-align: center;
  }
 
 

}
/*---------about-------------*/
.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

/*---------services-------------*/

.services .box {
  background-color: var(--primaryBackground);
  padding: 35px;
}
.services i {
  color: var(--primaryColor);
}
.services h3 {
  margin-top: 20px;
}
/*---------services-------------*/
.grid4 {
  grid-template-columns: repeat(4, 1fr);
  height: 50vh;
  place-items: center;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .services .box {
    
    padding: 10px;
  }
 
  .services .box p{
    font-size: 12px;
  }

}
/*---------counter-------------*/
.counter{
  margin-top: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.counter h1{
  margin-top: 80px;
}

.hero .counter::after {
  background-image: url("./components//data/images/some-facts-bg.png");
}
.grid4 .box {
  margin-top: -50px;
}
.grid4 .box .Icon{
  font-size: 50px;
  color: var(--primaryColor);

}
.grid4 .box .text{
  font-size: 25px;
  color: #bac8d3;
}
@media screen and (max-width: 768px) {
  .counter{
    margin-top: 80px;
    height: 100vh;
    margin-bottom: 15px;
  

  }
  .counter{
    width: 100%;
  }
  .counter h1{
    margin-top: 10px;
  }

  .counter .grid4 {
    width: 70%;
      display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .grid4 .box {
    margin-top:-100px;
  }
}

/*---------counter-------------*/
/*---------Projects-------------*/
article{
  margin-top: 50px;
  margin-bottom: 80px;
}

.catButton {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
.catButton button{
  margin: 0 20px 25px;
}
article img{
  width: 100%;
  height: 100%;
}
article .box{
  position: relative;
  transition: 0.5s;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.5s;
  z-index: 2;
  opacity: 0;
}
.overlay::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primaryColor);
  opacity: 0;
  transition: 0.5s;
  z-index: -1;
}
article .box:hover .overlay,
article .box:hover .overlay::after{
  opacity: 1;
}
@media screen and (max-width: 768px) {

  
  .catButton button{
    margin: 0 30px 25px;
  }
}
/*---------Projects-------------*/
/*---------contact-------------*/
.contact {
  margin: 20px 0;
}
.contact .right,
.contact .left {
  padding: 20px;
}
.contact .flex input:nth-child(1) {
  margin-right: 10px;
}
.contact button,
.contact textarea,
.contact input {
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  margin: 10px 0;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .contact .left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  
}
/*---------contact-------------*/

footer{
  text-align: center;
  background-color: var(--primaryBackground);
  padding: 70px;
  margin-top: 50px;
}
footer a{
  margin: 5px;
  color: var(--primaryColor);
}

/*---------Footer-------------*/
@media screen and (max-width: 768px) {
  .hero {
    height: 60vh;
  }
  .heroContent {
    max-width: 90%;
  }
  .heroContent h1{
    font-size: 30px;
  }
  .heroContent h3{
    font-size: 25px;
  }
  .hero::after {
    background-image: url("./components/data/images/home-bg.png");
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 60vh;
  }
  section {
    height: auto;
    padding-top: 50px;
  }
  .contact .flexsb,
  .about .flex {
    flex-direction: column;
  }
  .right,
  .left {
    width: 100%;
  }
  .grid4,
  .grid3 {
    grid-template-columns: repeat(2, 1fr);
  }
  article {
    margin: 0;
    padding-bottom: 50px;
  }
}
